
/*-- CAS GENERAL--*/
*
{
	font-family: calibri;
}
a
{
	text-decoration: none;
}
body
{
	background-color:#6c4cd3;
}
h4 a
{
	color: #fff;
}

/*--- CONTENT PAGE  ---*/

.row
{
	width: 970px;
	margin-right:auto;
	margin-left: auto;
	text-align: center;
	margin-top: 70px;
}

/*---- PARTIE IMAGE ----*/

.col-img
{
	width: 500px;
	display: inline-block;
	height: 500px;
	vertical-align: top;
	color: #fff;
	background-color: #8b6ee5;
	border-top-left-radius:15px ;
	border-bottom-left-radius:15px ;
}
.soleil
{
	position: relative;
	z-index: 2;
	/*height: 150px;*/
	width: 450px;
}

/*----- PARTIE FORMULAIRE -----*/

.formulaire
{
	border: 1px solid #000;
	width: 230px;
	height: 290px;
	text-align: center;
	margin-right:auto;
	margin-left: auto;
	padding-top: 20px;
}
.col-fo
{
	width: 400px;
	display: inline-block;
	height: 500px;
	vertical-align: top;
	background-color: #fff;
	border-top-right-radius:15px ;
	border-bottom-right-radius:15px ;
	position: relative;
	right: 10px;
}
.form-box
{
	padding: 10px;
}
.form-box input
{
	margin-bottom: 20px;
	margin-top: 4px;
	border-right: none;
	border-left: none;
	border-top: none;
	height: 20px;
	margin-left: 10px;
	width: 150px;
}
.form-box label
{
	float: left;
	font-size: 12px;
	margin-left: 25px;
}
.text
{
	width: 160px;
	text-align: left;
	color: #634abf;
	font-size: 20px;
	margin-left: 53px;
	margin-bottom: 10px;
}
.text span
{
	font-weight: bold;
}
button
{
	margin-top: 15px;
	margin-bottom: 5px;
	width:130px;
	height: 35px;
	font-size: 20px;
	background:#5b3ac9 ;
	color: #fff;
	border-radius: 3px;
	border: none;
	line-height: 1;
}
button:hover
{
	cursor: pointer;
	background-color: #8f72e8;
	color: #000;
}
.formulaire p
{
	font-size: 10px;
	color:#634abf ;
}
p span
{
	font-weight: bold;
}
