
/*-- CAS GENERAL--*/
*
{
	font-family: calibri;
}
a
{
	text-decoration: none;
}
#pg_ins
{
	height: 547px;
	background:linear-gradient(to bottom right,#6747d0 , #896ce3);
}


/*--- CONTENT PAGE  ---*/

.inscrip
{
	width: 970px;
	margin-right:auto;
	margin-left: auto;
	text-align: center;
	margin-top: 70px;
}

/*---- PARTIE IMAGE ----*/

.col-img
{
	width: 500px;
	display: inline-block;
	height: 480px;
	vertical-align: top;
	color: #fff;
	background: linear-gradient(to top right,#5d3ccb,#8b6ee5);
	border-top-left-radius:15px ;
	border-bottom-left-radius:15px ;
	box-shadow: 10px 10px 2px #6146c7;
}
.col-img h4 a
{
	color: #fff;
}
.soleil
{
	position: relative;
	margin-top: 80px;
	width: 450px;
	border: none;
}
.col-img h4 a
{
	font-size: 13px;
	position: relative;
	bottom: 20px;
	font-weight: none;
}
.col-img span
{
	font-size: 11px;
	margin-top: 20px;
	float: left;
	margin-left: 50px;
}

/*----- PARTIE FORMULAIRE -----*/

.formulaire
{
	border: 1px solid rgba(0, 0, 0, 0.1);
	width: 230px;
	height: 290px;
	text-align: center;
	margin-right:auto;
	margin-left: auto;
	padding-top: 20px;
}
.col-fo
{
	width: 370px;
	display: inline-block;
	height: 480px;
	vertical-align: top;
	background-color: #fff;
	border-top-right-radius:15px ;
	border-bottom-right-radius:15px ;
	position: relative;
	right: 10px;
	box-shadow: 5px 10px 2px #6146c7;
}
.form-box
{
	padding: 10px;
}
.form-box input
{
	margin-bottom: 20px;
	margin-top: 4px;
	border-right: none;
	border-left: none;
	border-top: none;
	opacity: 0.4;
	height: 20px;
	margin-left: 10px;
	width: 150px;
}
.form-box label
{
	float: left;
	font-size: 12px;
	margin-left: 25px;
	opacity: 0.6;
}
.text
{
	width: 160px;
	text-align: left;
	color: #634abf;
	font-size: 20px;
	margin-left: 53px;
	margin-bottom: 10px;
	line-height: 18px;
}
}
.text span
{
	font-weight: bold;
}
.form-box button
{
	margin-top: 15px;
	margin-bottom: 5px;
	width:130px;
	height: 35px;
	font-size: 20px;
	background:#5b3ac9 ;
	color: #fff;
	border-radius: 3px;
	border: none;
	line-height: 1;
}
button:hover
{
	cursor: pointer;
	background-color: #8f72e8;
}
.formulaire p
{
	font-size: 10px;
	color:#634abf ;
}
p span
{
	font-weight: bold;
}

/*----- PAGE DE CONNECTION -------*/

#pg_con
{
	height: 587px;
	background: linear-gradient(#200055,#5b0165,#260055,#1f005d);
}
.cnt
{
	height: 547px;
	margin: 30px;
}
.conn
{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 20px;
	height: 505px;
}
.col-form
{
	margin-top: 50px;
	width: 390px;
	margin-left: auto;
	margin-right: auto;
	height: 430px;
}
.box-form
{
	border: 1px solid pink;
	margin: 20px;
	width: 330px;
	height: 400px;
	border-radius: 15px;
	background: linear-gradient(to bottom right, #c2abc5 45%, #aa93ad 10%);
}

.imip, .imip2
{
	margin: 15px;
	display: flex;
	height: 45px;
	margin-left: 25px;
	margin-top: 10px;
	border: none;
}
.box-form .ig
{
	width: 45px;
	line-height: 3.3;
	background: #fff;
	height: 45px;
	border: none;
}
.imip >input, .imip2 > input
{
	font-size: 18px;
	padding: 15px;
	width: 200px;
	border: none;
	background-color: #dfd9e7;
}
.us
{
	position: relative;
	top: 10px;
}
.box-form button
{
	width: 265px;
	height: 40px;
	font-size: 15px;
	text-transform: uppercase;
	background: #1e0058;
	border: none;
	color: #fff;
	margin-top: 20px;
	position: relative;
	top: -15px;
}
.box-form button:hover
{
	background-color:#1e0096 ;
}
.chek
{
	height: 25px;
	width: 250px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 12px;
	display: block;
	margin: 10px ;
}
.ps a
{
	float: right;
	position: relative;
	top: 2px;
	color: #fff;
	font-style: italic;
	margin-left: 10px;
}
.ps a:hover
{
	color: blue;
	cursor: pointer;
}
.rm
{
	float: left;
	color: #fff;
	right: 12px;
	position: relative;

}
.rm label
{
	position: relative;
	right: -5px;
	top: -3px;
}
.rm > input:checked
{
	background-color: #55455e;
}






