
/*-- CAS GENERAL--*/
*
{
	font-family: calibri;
}
a
{
	text-decoration: none;
}
body
{
	background-color: #6c4cd3;
}

/*--- CONTENT PAGE  ---*/

.row
{
	width: 970px;
	margin-right:auto;
	margin-left: auto;
	text-align: center;
	border: 1px solid red;
	margin-top: 150px;
}
.formulaire
{
	border: 1px solid black;
	width: 250px;
	height: 300px;
	text-align: center;
	margin-right:auto;
	margin-left: auto;
	padding-top: 20px;
}
.col-img
{
	border: 1px solid green;
	width: 400px;
	display: inline-block;
	height: 500px;
	vertical-align: top;
}
.col-fo
{
	border: 1px solid green;
	width: 400px;
	display: inline-block;
	height: 500px;
	vertical-align: top;
	/*margin-left:50px ;*/
	float: right;
	background-color: #fff;
	border-top-right-radius:15px ;
	border-bottom-right-radius:15px ;
}
.form-box
{
	padding: 10px;
}
.form-box input
{
	margin-bottom: 20px;
	margin-top: 4px;
	border-right: none;
	border-left: none;
	border-top: none;
	height: 20px;
	margin-left: 10px;
	width: 165px;
}
.form-box label
{
	float: left;
	font-size: 13px;
	margin-left: 25px;
}
.text
{
	width: 160px;
	text-align: left;
	color: #634abf;
	font-size: 25px;
	margin-left: 53px;
	margin-bottom: 10px;
}
.text span
{
	font-weight: bold;
}
button
{
	margin-top: 15px;
	margin-bottom: 5px;
	width:150px;
	height: 35px;
	font-size: 15px;
	background:#5b3ac9 ;
	color: #fff;
	border-radius: 3px;
	border: none;
	line-height: 1;
}
button:hover
{
	cursor: pointer;
	background-color: #8f72e8;
	color: #000;
}
.formulaire p
{
	font-size: 12px;
	color:#634abf ;
}
p span
{
	font-weight: bold;
}